main {
  font-size: 130%;
}

.container {
  width: 50%;
  margin: 60px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 90%;
  margin: 10px 20px;
  word-wrap: break-word;
}

.container.bottom {
  margin-top: 0;
}

@media (max-width: 499px) {
  .section-middle {
    position: relative;
    top: 50px;
  }

  section {
    width: 35%;
  }

  .container {
    margin-top: 20px;
    width: 100vw;
    font-size: medium;
  }

  .container.bottom {
    margin-top: 60px;
  }
}
